@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html body {
    font-family: 'Roboto';
}

/* ---------Navbar Start--------- */
.yt-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1001;
    background: transparent;
}

.round-btn {
    border: 1px solid #ddd;
    background-color: #ccc;
    border-radius: 50px;
    font-size: 20px;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
}

.round-btn:hover {
    background-color: #ccc;
}

.round-btn-2 {
    border: 1px solid #ddd;
    background-color: #ccc;
    border-radius: 50%;
    font-size: 16px;
    padding: 2px 14px 4px 14px;
    height: 40px;
    text-align: center;
}

.round-btn-2:hover {
    background-color: #ccc;
}


.round-btn-2 i {
    position: relative;
    top: 1px;
    font-size: 20px;
    font-weight: 400;
}

.logo {
    width: 130px;
}

.yt-serach-bar .form-control {
    border-radius: 50px;
    border: 1px solid #b1abab;
}

.yt-serach-bar .input-group-text {
    border-radius: 50px;
    border: 1px solid #b1abab;
    font-size: 24px;
    background-color: #ccc;
}

/* -------Navbar complete------- */

/* -------Hero Section start------- */

.yt-sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 15%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
    padding: 10px;
}

.custom-line {
    height: 1px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px 0;
}

.yt-sidebar nav {
    padding: 10px 10px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.yt-sidebar nav i {
    margin-right: 12px;
}

.yt-sidebar nav:hover {
    background-color: #ccc;
}

.yt-vedio {

    margin-left: 15%;
    margin-top: 60px;
    width: 85%;
    padding: 20px;
}

.yt-tabs nav {
    background-color: #eee;
    border-radius: 10px;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    margin: 10px;
}

.yt-tabs .active {
    background-color: #ccc;
    border-radius: 5px;
}

.yt-tabs .active:hover {
    background-color: #eee;

}

.yt-tabs nav:hover {
    background-color: #ccc;
    border-radius: 5px;

}

/* -----Hero Section Done */

/* Card Css */

.card {
    background: #eee !important;
    border: none !important;
    margin: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(0.9);
}

.card section img {
    border-radius: 50%;
}

.top-card {
    width: 185px;
}

.short-vedio {
    position: relative;
    top: 19px;
}

/* ------Card Done */